<!-- Wrapper -->
<div id="wrapper" style="padding-left: 170px; padding-right: 170px;">

  <!-- Menu -->
  <section id="menu">

    <!-- Search -->
    <section>
      <form class="search" method="get" action="#">
        <input type="text" name="query" placeholder="Search" />
      </form>
    </section>


    <!-- Actions -->
    <section>
      <ul class="actions vertical">
        <li><a href="#" class="button big fit">Log In</a></li>
      </ul>
    </section>

  </section>

  <!-- Main -->
  <div id="main">

    <!-- Post -->
    <article class="post">
      <header>
        <div class="title">
          <h2><%= @user.first_name+" "+@user.last_name %></h2>

          Last sing in at: <%= @user.current_sign_in_at.strftime("%m. %d.%Y. %H:%M")%>

        </div>
        <div class="meta" style="padding: 15px;">
          <time class="published" datetime="2015-11-01"></time>
                <%=image_tag(@user.avatar.url, style: "vertical-align: middle; height:150px") unless @user.avatar.blank? %>
        </div>
      </header>
        <%= @user.about.html_safe unless @user.about.nil? %>
      <footer>
        <ul class="stats">
          <li> Posts: <%= @user.posts.count%> </li>
          <li> Likes: <%= @user.posts.sum(&:cached_votes_up) %> </li>
        </ul>
      </footer>
    </article>

  </div>

  <!-- Footer -->

</div>



<%= link_to 'Edit', edit_user_registration_path %>
<%= link_to 'Back', :back %>