
<%= simple_form_for Comment.new do |f| %>
    <%= f.hidden_field :parent_id %>

    <div class="field">
      <%= f.input :post_id, as: :hidden, input_html: {value: post.id} %>
    </div>

    <div class="field">
      <%= f.input :content %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
