<style>
  .center-fields-sign{
    padding-left: 20%;
    padding-right: 20%;
  }

  label {
    margin-bottom: 0;
    margin-top: 25px;
  }

</style>

<h1>New Post</h1>


<div class="center-fields-sign">
<%= simple_form_for @post, html: {multipart: true} do |f| %>

    <div class="field">
      <%= f.input :title, autofocus: true %>
    </div>

    <div class="field">
      <%= f.input :description,as: :text ,autofocus: true %>
    </div>

    <div class="field" style = "margin-top: 25px; margin-bottom: 25px">
      <%= f.cktext_area :content, autofocus: true %>
    </div>

    <div class="field">
      <%= f.association :categories, inner_html: {:include_blank => 'Select One', multiple: true},class:'form-control' %>
    </div>

    <div class="field">
      <%= f.label :ImageUpload %><br>
      <%= f.simple_fields_for :picture do |pic| %>
          <%= pic.file_field :coverpath %>
      <% end %>
      <% if f.object.picture %>
          <%= image_tag f.object.picture.coverpath.thumb.url %>
          <%= f.label :remove_image %>
          <%= f.check_box :remove_image %>
      <% end %>
    </div>
      <div class="actions">
        <%= f.button :submit %>
      </div>
<% end %>
</div>


<%= link_to 'Back', posts_path %>
